.ListArea{
    height: 48vh;
    width : 90%;
    padding: 10px;
    margin : 10px auto;
    // border : 1px solid red;
}

.empty{
    font-size: 25px;
    font-family: 'Architects Daughter', cursive;
    border : 2px dashed #ccc;
    color : #ddd;
    text-align: center;
}